// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-plus-jakarta-sans;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: start;
  background: $color-ghost-white;
  min-height: 100%;
}
