*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", serif;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  background: #f9fafd;
}

.app {
  display: flex;
  flex-direction: column;
  gap: clamp(2.4rem, 2.4rem + 7 * (100vw - 37.5rem) / 355, 3.1rem);
  padding: clamp(2.4rem, 2.4rem + 9 * (100vw - 37.5rem) / 355, 3.3rem) clamp(1.6rem, 1.6rem + 14 * (100vw - 37.5rem) / 355, 3rem) clamp(1.6rem, 1.6rem + 1 * (100vw - 37.5rem) / 355, 1.7rem);
  max-width: 73rem;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__notifications-text-number {
  display: flex;
  gap: clamp(0.9rem, 0.9rem + 2 * (100vw - 37.5rem) / 355, 1.1rem);
  align-items: center;
}
.header__notifications-text {
  color: #1c202b;
  font-size: clamp(2rem, 2rem + 4 * (100vw - 37.5rem) / 355, 2.4rem);
  font-weight: 800;
}
.header__notifications-number {
  width: 3.2rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  background: #0a327b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 800;
}
.header__mark {
  color: #5e6778;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 500;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 1rem - 2 * (100vw - 37.5rem) / 355, 1rem);
}

.notification {
  display: flex;
  gap: clamp(1.3rem, 1.3rem + 6 * (100vw - 37.5rem) / 355, 1.9rem);
  width: 100%;
  padding: clamp(1.6rem, 1.6rem + 2 * (100vw - 37.5rem) / 355, 1.8rem) clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 355, 2rem);
  border-radius: 0.8rem;
  transition: background 0.3s;
}
.notification__avatar {
  display: block;
  width: clamp(3.9rem, 3.9rem + 6 * (100vw - 37.5rem) / 355, 4.5rem);
  height: clamp(3.9rem, 3.9rem + 6 * (100vw - 37.5rem) / 355, 4.5rem);
}
.notification__text-time {
  display: flex;
  flex-direction: column;
  gap: clamp(0.3rem, 0.3rem + 1 * (100vw - 37.5rem) / 355, 0.4rem);
}
.notification__name {
  display: inline-block;
  color: #1c202b;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 800;
  margin-right: 0.6rem;
}
.notification__action {
  color: #5e6778;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 500;
  margin-right: 0.6rem;
}
.notification__post {
  color: #5e6778;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 700;
  margin-right: 0.6rem;
}
.notification__group {
  display: inline-block;
  color: #0a327b;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 700;
  margin-right: 0.6rem;
}
.notification__unread {
  display: inline-block;
  width: 0.8rem;
  height: 0.81rem;
  transform: translateY(-0.05rem);
}
.notification__time {
  color: #939cad;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 500;
}
.notification__message {
  border-radius: 0.5rem;
  border: 0.1rem solid #dde7ee;
  background: #fff;
  padding: clamp(1.6rem, 1.6rem + 1 * (100vw - 37.5rem) / 355, 1.7rem) clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 355, 2rem) clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 355, 2rem);
  margin-top: clamp(1.2rem, 1.2rem + 1 * (100vw - 37.5rem) / 355, 1.3rem);
  color: #5e6778;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 355, 1.6rem);
  font-weight: 500;
  max-width: 56.6rem;
}
.notification__picture {
  display: block;
  width: clamp(3.9rem, 3.9rem + 6 * (100vw - 37.5rem) / 355, 4.5rem);
  height: clamp(3.9rem, 3.9rem + 6 * (100vw - 37.5rem) / 355, 4.5rem);
  border-radius: 0.7rem;
  margin-left: auto;
}

@media only screen and (min-width: 45.625em) {
  .notification__unread {
    transform: translateY(-0.1rem);
  }
}
.bg-alabaster {
  background: #f7fafd;
}/*# sourceMappingURL=main.css.map */